---

import addToCartIcon from '../assets/images/icon-add-to-cart.svg';
const {category="None", name="none", price="none", url="/"} = Astro.props;
---
<section class="flex flex-col mb-8">
    <figure class="relative mb-10">
        <img class="rounded-xl" src={url.src} alt="">
        <button class="absolute bg-rose-50 rounded-full text-white -bottom-6 left-1/2 -translate-x-1/2 px-5 py-3 flex gap-1 font-semibold border-2 border-rose-900"><img class="" src={addToCartIcon.src}>Add to Cart</button>
    </figure>
    <p class="text-rose-400">{category}</p>
    <p class="text-xl font-semibold">{name}</p>
    <p class="text-xl font-semibold text-red">${price}</p>
</section>